html, body {
  margin: 0;
  padding: 0;
  position: fixed;    //added to fix overscroll behavior on mobile
  overflow: hidden;    //added to fixe overscroll behavior on mobile
  overscroll-behavior-y: contain;    //added to disable pull-to-refresh on mobile chrome???
}
canvas {
  display: block;
}
